@font-face {
  font-family: "iconfont"; /* Project id 4648511 */
  src: url('iconfont.woff2?t=1723771239517') format('woff2'),
       url('iconfont.woff?t=1723771239517') format('woff'),
       url('iconfont.ttf?t=1723771239517') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message_fill:before {
  content: "\e70d";
}

.icon-phone:before {
  content: "\e618";
}

